@charset "utf-8";
/* CSS Document */
#sidebar-left ul.menu li,
#sidebar-right ul.menu li,
#footer ul.menu li{
list-style-image:none;
vertical-align : baseline;
}
.not-front .node .content, 
.not-front .node .meta,
.not-front .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
.front .node .meta,
.page-blog .node .meta,
.page-taxonomy .node .meta{
border-bottom : none;
}
.page-blog .node .content, 
.page-blog .node .meta,
.page-blog .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
.page-taxonomy .node .content, 
.page-taxonomy .node .meta,
.page-taxonomy .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
#primary {
padding : 10px 0 10px 0;
}
#logo {
margin : 0 20px 0 0;
}
#site-name {
margin : 10px 0 0 0;
}
#site-slogan {
margin : 0 20px 0 0;
}
#search-box {
margin : 0 0 0 0;
}
#container {
width : 940px;
}
#sidebar-left {
margin : 0 18px 0 0;
}
#content {
margin : 0 19px 0 0;
}
.front .node .content, 
.front .node .meta,
.front .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
#sidebar-right {
margin : 0 0 0 0;
float : left;
}
#secondary {
padding : 10px 0 10px 0;
}