/* CSS Document */

.front .node .content, 
.front .node .meta,
.front .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
.not-front .node .content, 
.not-front .node .meta,
.not-front .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
.page-blog .node .content, 
.page-blog .node .meta,
.page-blog .node .node-bottom-links{
border-left : 1px solid #4D3536;
}
.page-taxonomy .node .content, 
.page-taxonomy .node .meta,
.page-taxonomy .node .node-bottom-links{
border-left : 1px solid #4D3536;
}