/* CSS Document */

/*
960px grid
40px columns
16 columns
20px guttering
10px margin
1.7em baseline
#4D3536 
#E47E4B 
#F7D16F
#F6F1D3 
#D1D676 
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
background : url("images/background.png");
line-height : 1.7em;
}
a:link {color:#4D3536}    
a:visited {color:#A2787A}  
a:focus {color:#000000} 
a:hover {color:#000000}  
a:active {color:#000000} 
h1 {
font : 1.8em Helvetica, "Helvetica Neue", Arial, sans-serif;
background : url("images/header-background.png");
margin-top : 20px;
width : 50%;
text-align : center;
}
h2 {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.0625em;
}
h3 {
font : 1.5em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.13333333em;
}
h4 {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.21428571em;
}
h5, h6 {
font : 1.3em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.30769231em;
}

#content .node .content ol,
#content .node .content ul {
font-size : 1.2em;
margin : 0 0 1.54545455em 60px;
}
blockquote {
margin-left : 40px;
padding-left : 20px;
border-left : 1px solid #4D3536;
}
q {
background : transparent;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub;
font-size : 0.95em;
}
sup {
vertical-align : super;
font-size : 0.95em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 
#content .node .content img {
float : left;
margin : 10px 10px 10px 0;
}
#wrapper {
width : 960px;
margin : 10px auto;
background : #F6F1D3 ;
border : 1px solid #4D3536;
padding-top : 1px;
}
#header {
margin : 10px 10px 0 10px;
}
#breadcrumb {
background : url("images/banner-one-top.jpg") no-repeat center center;
margin : 10px 0 10px 0;
clear : both;
color : #ffffff;
font-size : 1em;
}
.breadcrumb {
padding : 0 0 1px 0;
}
#breadcrumb a {
background : #ffffff;
padding : 4px 3px 4px 3px;
border : 1px solid #4D3536;
}
#logo-title {
height : 150px;
background : url("images/banner-one.jpg") no-repeat center center;
overflow : hidden;
}
#logo {
width : 280px;
float : left;
margin : 0 20px 0 0;
}
#logo img {
margin-top : 4px;
margin-left : 60px;
border : 1px solid #4D3536;
outline : 0;
}
#site-name {
width : 640px;
margin : 10px 0 0 0;
float : left;
}
#navigation {
background : url("images/banner-one-bottom.jpg") no-repeat center center;
margin : 10px 5px 10px 5px;
clear : both;
font-size : 1.1em;
}
#navigation a {
background : #ffffff;
padding : 4px 3px 4px 3px;
border : 1px solid #4D3536;
}
#slogan-search {
margin : 10px 10px 0 10px;
clear : both;
}
#site-slogan {
width : 636px;
margin : 0 20px 10px 0;
padding : 5px 1px 5px 1px;
border : 1px solid #F7D16F;
float : left;
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
color : #ffffff;
background : #E47E4B;
}
#search-box {
width : 280px;
margin : 0 0 10px 0;
float : left;
}
#search-box .form-item input  {
border : 1px solid #4D3536;
vertical-align : top;
}
#mission {
background : url("images/mission-background.gif") repeat-x center center;
width : 696px;
float : right;
margin-bottom : 10px;
border : 1px dashed #4D3536;
padding : 1px;
font-size : 1.3em;
color : #4D3536;
}
#container {
margin : 10px 10px 0 10px;
clear : both;
}

/* Left sidebar */

#sidebar-left {
width : 220px;
margin : 0 20px 10px 0;
float : left;
}
#sidebar-left .block-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
background : url("images/mission-background.gif") repeat-x center center;
color : #4D3536;
margin-bottom : 1.25em;
padding-left : 1px;
border-top : 1px solid #4D3536;
border-right : 1px solid #4D3536;
border-bottom : 1px solid #4D3536;
border-left : 1px dashed #4D3536;
border-radius:  0 10px 10px 0;
-moz-border-radius: 0 10px 10px 0;
-webkit-border-top-right-radius : 10px;
-webkit-border-bottom-right-radius : 10px;
}
#sidebar-left .inner-block-title {
border : 2px solid #4D3536 ;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
}
#sidebar-left .content {
font-size : 1.1em;
border : 1px solid #D1D676;
padding : 0 1px 0 1px;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
background : url("images/mission-background.gif") repeat-x center center;
}
#sidebar-left .block {
margin-bottom : 1.81818182em;
}
#sidebar-left .menu {
font-size : 1.2em;
}
#sidebar-left ul.menu {
margin-left : 15px;
}
#sidebar-left ul.menu li {
list-style-image:url("images/menu-one.png");
vertical-align : top;
}
#sidebar-left ul.menu li ul.menu li {
font-size : 0.835em;
}
#sidebar-left ul li {
list-style-type : circle;
}
#sidebar-left ul.menu li:hover:after{
content:url("images/arrow_left.png");
margin-left : 5px;
vertical-align : top;
}
#sidebar-left ul.menu .expanded:hover:after {
content:"";
margin-left : 0;
}
#sidebar-left ul.menu li a.active {
margin-left : 5px;
}
#sidebar-left ul.menu li a.active:after {
content:url("images/accept.png");
margin-left : 5px;
}
#sidebar-left ul.menu li:active {
margin-left : 5px;
}
#sidebar-left ul.menu li:active:after{
content:url("images/accept.png");
margin-left : 5px;
}

/* Right sidebar */

#sidebar-right .block-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
background : url("images/mission-background.gif") repeat-x center center;
color : #4D3536;
margin-bottom : 1.25em;
padding-left : 1px;
border-top : 1px solid #4D3536;
border-right : 1px solid #4D3536;
border-bottom : 1px solid #4D3536;
border-left : 1px dashed #4D3536;
border-radius:  0 10px 10px 0;
-moz-border-radius: 0 10px 10px 0;
-webkit-border-top-right-radius : 10px;
-webkit-border-bottom-right-radius : 10px;
}
#sidebar-right .inner-block-title {
border : 2px solid #4D3536 ;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
}
#sidebar-right .content {
font-size : 1.1em;
border : 1px solid #D1D676;
padding : 0 1px 0 1px;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
background : url("images/mission-background.gif") repeat-x center center;
}
#sidebar-right .block {
margin-bottom : 1.81818182em;
}
#sidebar-right .menu {
font-size : 1.2em;
}
#sidebar-right ul.menu {
margin-left : 15px;
}
#sidebar-right ul.menu li {
list-style-image:url("images/menu-one.png");
vertical-align : top;
}
#sidebar-right ul.menu li ul.menu li {
font-size : 0.835em;
}
#sidebar-right ul li {
list-style-type : circle;
}
#sidebar-right ul.menu li:hover:after{
content:url("images/arrow_left.png");
margin-left : 5px;
vertical-align : top;
}
#sidebar-right ul.menu .expanded:hover:after {
content:"";
margin-left : 0;
}
#sidebar-right ul.menu li a.active {
margin-left : 5px;
}
#sidebar-right ul.menu li a.active:after {
content:url("images/accept.png");
margin-left : 5px;
}
#sidebar-right ul.menu li:active {
margin-left : 5px;
}
#sidebar-right ul.menu li:active:after{
content:url("images/accept.png");
margin-left : 5px;
}

/* Footer */

#footer .block-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
background : url("images/mission-background.gif") repeat-x center center;
color : #4D3536;
margin-bottom : 1.25em;
padding-left : 1px;
border-top : 1px solid #4D3536;
border-right : 1px solid #4D3536;
border-bottom : 1px solid #4D3536;
border-left : 1px dashed #4D3536;
border-radius:  0 10px 10px 0;
-moz-border-radius: 0 10px 10px 0;
-webkit-border-top-right-radius : 10px;
-webkit-border-bottom-right-radius : 10px;
}
#footer .inner-block-title {
border : 2px solid #4D3536 ;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
}
#footer .content {
font-size : 1.1em;
border : 1px solid #D1D676;
padding : 0 1px 0 1px;
border-radius:  0 10px 0 0;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
background : url("images/mission-background.gif") repeat-x center center;
}
#footer .block {
margin-bottom : 1.81818182em;
}
#footer .menu {
font-size : 1.2em;
}
#footer ul.menu {
margin-left : 15px;
}
#footer ul.menu li {
list-style-image:url("images/menu-one.png");
vertical-align : top;
}
#footer ul.menu li ul.menu li {
font-size : 0.835em;
}
#footer ul li {
list-style-type : circle;
}
#footer ul.menu li:hover:after{
content:url("images/arrow_left.png");
margin-left : 5px;
vertical-align : top;
}
#footer ul.menu .expanded:hover:after {
content:"";
margin-left : 0;
}
#footer ul.menu li a.active {
margin-left : 5px;
}
#footer ul.menu li a.active:after {
content:url("images/accept.png");
margin-left : 5px;
}
#footer ul.menu li:active {
margin-left : 5px;
}
#footer ul.menu li:active:after{
content:url("images/accept.png");
margin-left : 5px;
}

/* Content */

.two-sidebars #content {
width : 520px;
margin : 0 20px 10px 0;
float : left;
}
.one-sidebar #content {
width : 700px;
margin : 0 0 10px 0;
float : left;
}

/* Front Content */

.front .node .content, 
.front .node .meta,
.front .node .node-bottom-links{
margin-right : 1px;
margin-left : 40px;
border-left : 1px dashed #4D3536;
padding-left : 20px;
}
.front .node .meta {
padding-bottom : 10px;
margin-bottom : 20px;
}
.front .node .meta .terms {
border-top : 1px dashed #ffffff;
display : block;
}
.front .node .meta .submitted-date {
display : block;
}
.front .node .content {
margin-top : 20px;
}
.front .node {
background : url("images/background-content.gif") repeat-x center top;
border-radius : 10px;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
}
.front .node {
margin-bottom : 20px;
}
.front .node .node-title {
font : 1.8em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-left : 2px;
}
.front .node .meta {
font-size : 1.1em;
margin-top : 0.944444444em;
margin-bottom : 1.54545455em;
width : 200px;
float : right;
}
.front .node .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}
.front .node .content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}

/* Not Front Content */

.not-front .node .content, 
.not-front .node .meta,
.not-front .node .node-bottom-links{
margin-right : 1px;
margin-left : 40px;
border-left : 1px dashed #4D3536;
padding-left : 20px;
}
.two-sidebars .not-front #content {
width : 518px;
border : 1px solid #ffffff;
}
.one-sidebar .not-front #content {
width : 698px;
}
.not-front #inner-content {
border : 1px solid #ffffff;
}

.not-front .node .node-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.0625em;
}
.not-front #content .content p {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
.not-front #content .meta {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}
.not-front #content .meta .terms {
width : 200px;
float : right;
margin-top : 0.944444444em;
margin-bottom : 1.54545455em;
text-align : right;
}
.not-front .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
} 
.not-front #comments .comment{
border-top : 1px solid #ffffff;
padding-top : 1.30769231em;
}
.not-front #comments .comment-title {
font-size : 1.3em;
}
.not-front #comments .submitted {
font-size : 1.2em;
margin-top : 1.30769231em;
margin-bottom : 1.41666667em;
}
.not-front #comments .comment ul.links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}

/* Blog */

.page-blog #content {
width : 520px;
border : none;
}
.page-blog #inner-content {
border : none;
}
.page-blog .node .content, 
.page-blog .node .meta,
.page-blog .node .node-bottom-links{
margin-right : 1px;
margin-left : 40px;
border-left : 1px dashed #4D3536;
padding-left : 20px;
}
.page-blog #content .meta .terms {
border-top : 1px dashed #ffffff;
display : block;
width : 100%;
float : left;
text-align : left;
margin-bottom : 0;
margin-left : 0;
}
.page-blog .node .meta .submitted-date {
display : block;
}
.page-blog .node .content {
margin-top : 20px;
}
.page-blog .node {
background : url("images/background-content.gif") repeat-x center top;
border-radius : 10px;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
margin-bottom : 20px;
}
.page-blog .node .node-title {
font : 1.8em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-left : 2px;
}
.page-blog .node .meta {
font-size : 1.1em;
margin-top : 0.944444444em;
margin-bottom : 1.54545455em;
width : 200px;
float : right;
}
.page-blog .node .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}
.page-blog .node .content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}

/* Taxonomy */
.taxonomy-term-description {
font-size : 1.2em;
}
.page-taxonomy #content {
width : 520px;
}
.page-taxonomy #content {
border : none;
}
.page-taxonomy #inner-content {
border : none;
}
.page-taxonomy .node .content, 
.page-taxonomy .node .meta,
.page-taxonomy .node .node-bottom-links{
margin : 0 1px 0 40px;
border-left : 1px dashed #4D3536;
padding-left : 20px;
}
.page-taxonomy .node .meta {
font-size : 1.1em;
margin : 0.944444444em 0 1.54545455em;
padding-bottom : 10px;
width : 200px;
float : right;
border-bottom : 1px dashed #4D3536;
}
.page-taxonomy #content .meta .terms {
border-top : 1px dashed #ffffff;
display : block;
text-align : left;
width : 100%;
float : left;
margin-bottom : 0;
margin-left : 0;
}
.page-taxonomy .node .meta .submitted-date {
display : block;
}
.page-taxonomy .node .content {
margin-top : 20px;
}
.page-taxonomy .node {
background : url("images/background-content.gif") repeat-x center top;
border-radius : 10px;
-moz-border-radius : 10px;
-webkit-border-radius : 10px;
}
.page-taxonomy .node {
margin-bottom : 20px;
}
.page-taxonomy .node .node-title {
font : 1.8em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-left : 2px;
}
.page-taxonomy .node .node-bottom-links {
font-size : 1.1em;
margin-bottom : 1.54545455em;
}
.page-taxonomy .node .content p{
font-size : 1.2em;
margin-bottom : 1.41666667em;
}


/* Comment form */

#comment-form {
font-size : 1.2em;
}
#comment-form label {
font-weight : normal;
font-style: italic;
}
#comment-form .form-submit{
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}
#comment-form .collapsible a{
margin-bottom : 1.66666667em;

}
#comment-form .fieldset-wrapper p a {
font-size : 0.9em;
}

/* Right sidebar */

#sidebar-right {
width : 160px;
margin : 0 0 10px 0;
float : left;
}

/* Tabs */

#content .tabs {
font-size : 1.1em;
}

/* Node edit */

#node-form {
font-size : 1.2em;
}
#node-form label {
font-weight : normal;
font-style: italic;
}
#node-form .form-submit{
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}
#node-form .attachments {
overflow : auto;
width : 510px;
}
#node-form .collapsible {
margin-bottom : 10px;
}


/* Contact Form */

#contact-mail-page  {
font-size : 1.2em;
font-weight : normal;
}
#contact-mail-page label {
font-weight : normal;
font-style: italic;
}
#contact-mail-page input.form-text,
#contact-mail-page textarea{
border : 1px solid #4D3536;
}
#contact-mail-page .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* User Profile */

.profile{
font-size : 1.2em;
font-weight : normal;
}

/* User Profile Form */

#user-profile-form .description,
#user-profile-form label,
#user-profile-form select,
#user-profile-form a,
#user-profile-form legend{
font-size : 1.2em;
font-weight : normal;
}
#user-profile-form label {
font-style : italic;
}
#user-profile-form .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* contact-mail-user */


#contact-mail-user input.form-text,
#contact-mail-user textarea{
border : 1px solid #4D3536;
}
#contact-mail-user .description,
#contact-mail-user label,
#contact-mail-user select,
#contact-mail-user a,
#contact-mail-user legend{
font-size : 1.2em;
font-weight : normal;
font-style: italic;
}
#contact-mail-user .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* Tracker */

#tracker {
font-size : 1.2em;
}
#tracker table  {
margin-bottom : 1em;
}
#tracker table tbody tr{
background : transparent;
}
#tracker table thead tr th{
background : #ffffff;
}

/* search-form */

#search-form label {
font-size : 1.2em;
font-weight : normal;
font-style : italic;
}
#search-form .search-advanced a {
font-size : 1.2em;
}
#search-form .search-advanced option {
font-size : 1.2em;
}
#search-form .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}
.box-title {
font-size : 1.3em;
margin-bottom : 1.30769231em;
}
.box .title {
font-size : 1.3em;
margin-bottom : 1.30769231em;
}
.box p.search-info {
border-bottom : 1px solid #ffffff;
padding-bottom : 1.41666667em;
}

/* Pagination */

.pager {
font-size : 1.1em;
}
li.pager-current {
font-size : 1.2em;
font-style : italic;
}
ul.pager li + li {
border-left: 1px solid #4D3536;
margin-left : 0;
}

/* Node type list */

#content .node-type-list {
font-size : 1.2em;
}
#content .node-type-list dt,
#content .node-type-list dd{
margin-bottom : 1.41666667em;
}

/* Forum */

#forum {
font-size : 1.2em;
}
#forum table tbody tr{
background : transparent;
}
#forum table {
width : 100%;
}
#forum tbody td.icon img{
margin-right : 5px;
}
.forum-topic-navigation {
font-size : 1.1em;
}

/* Poll */

.poll {
font-size : 1.2em;
}
.poll .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* Compose tips 
*/

#content ul.tips  {
font-size : 1em;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : auto;
font-size : 1.2em;
margin-bottom : 1.41666667em;
padding : 0 1px 0 0;
}
#filter-filter-0 code {
font-size : 1.2em;
}
#main #main-squeeze #content #content-content ul {
margin-left : 20px;
}
#main #main-squeeze #content #content-content ul li strong {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
input[type=text]:hover {  
background-color:#ffffcc;  
border-color:#414344;  
} 
input[type=password]:hover {  
background-color:#ffffcc;  
border-color:#414344;  
} 
.messages {
margin : 20px 10px 20px 10px;
padding : 5px;
text-align : center;
font-size : 1.4em;
color : #000000;
background : #ffffff;
}


/* Styling for Drupal attachments section */

#attachments {
font-size : 1.2em;
margin-bottom : 1.41666667em;
}
#attachments th {
font : 1em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#attachments tbody {
border : 2px inset #4D3536;
}
#attachments td {
padding: 5px 2px 5px 2px;
}
#attachments .odd {
border-bottom : 1px solid #4D3536;
background : #ffffff;
padding-bottom : 5px;
}
#attachments .even {
border-bottom : 1px solid #4D3536;
}
#content #content-content #attachments .even a {
background-color : #ffffff;
}


/* PDF file extension 

.pdf

*/

#content #attachments a[href$='.pdf'] {
  padding-right: 25px;
  background: url("images/doc_pdf.png") no-repeat right;
}

/* Audio file extensions 

.aac, .cda, .fla, .flac, .m3u, .mp4, .m4a, .m4p, .mp3, .ogg, .wma, .wmv

*/

#content #attachments a[href$='.aac'], #content #attachments a[href$='.cda'], #content #attachments a[href$='.fla'], #content #attachments a[href$='.flac'], #content #attachments a[href$='.m3u'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.m4a'], #content #attachments a[href$='.m4p'], #content #attachments a[href$='.mp3'], #content #attachments a[href$='.ogg'], #content #attachments a[href$='.wma'], #content #attachments a[href$='.wmv']{
  padding-right: 25px;
  background: url("images/doc_music.png") no-repeat right;
}

/* HTML file extensions 

.htm, .html

*/

#content #attachments a[href$='.html'], #content #attachments a[href$='.htm'] {
  padding-right: 25px;
  background: url("images/html.png") no-repeat right;
}

/* Text file extensions 

.text, .txt, .info

*/

#content #attachments a[href$='.txt'], #content #attachments a[href$='.text'], #content #attachments a[href$='.info'] {
  padding-right: 25px;
  background: url("images/page_white_text.png") no-repeat right;
}

/* Video file extensions 

.avi, .m4v, .mov, .mp4, .mpg, 

*/

#content #attachments a[href$='.avi'], #content #attachments a[href$='.m4v'], #content #attachments a[href$='.mov'], #content #attachments a[href$='.mp4'], #content #attachments a[href$='.mpg'] {
  padding-right: 25px;
  background: url("images/film.png") no-repeat right;
}

/* Document file extensions

.doc, .dotm, .dotx, .sxw

*/

#content #attachments a[href$='.doc'], #content #attachments a[href$='.dotm'], #content #attachments a[href$='.dotx'], #content #attachments a[href$='.sxw'] {
  padding-right: 25px;
  background: url("images/page_white_word.png") no-repeat right;
}

/* Presentation file extensions

.potx, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx

*/

#content #attachments a[href$='.potx'], #content #attachments a[href$='.pps'], #content #attachments a[href$='.ppsx'], #content #attachments a[href$='.ppt'], #content #attachments a[href$='.pptm'], #content #attachments a[href$='.pptx'] {
  padding-right: 25px;
  background: url("images/page_white_powerpoint.png") no-repeat right;
}


/* Spreadsheet file extensions

.ods, .scx, .xls, .xlsm, .xlsx

*/

#content #attachments a[href$='.ods'], #content #attachments a[href$='.scx'], #content #attachments a[href$='.xls'], #content #attachments a[href$='.xlsm'], #content #attachments a[href$='.xlsx'] {
  padding-right: 25px;
  background: url("images/doc_excel_csv.png") no-repeat right;
}

/* Script file extensions

.asp, .aspx, .css, .inc, .ini, .js, .json, .lib, .php, .php3, .rc, 

*/

#content #attachments a[href$='.asp'], #content #attachments a[href$='.aspx'], #content #attachments a[href$='.css'], #content #attachments a[href$='.ini'], #content #attachments a[href$='.inc'],
#content #attachments a[href$='.js'], #content #attachments a[href$='.json'],  #content #attachments a[href$='.lib'], #content #attachments a[href$='.php'], #content #attachments a[href$='.php3'] , #content #attachments a[href$='.rc']{
  padding-right: 25px;
  background: url("images/script.png") no-repeat right;
}

/* Compressed file extensions

.7z, .7zip, .ace, .arj, .gz, .rar, .zix, .zip

*/

#content #attachments a[href$='.7z'], #content #attachments a[href$='.7zip'], #content #attachments a[href$='.ace'], #content #attachments a[href$='.arj'], #content #attachments a[href$='.gz'], #content #attachments a[href$='.zix'], #content #attachments a[href$='.zip'] {
  padding-right: 25px;
  background: url("images/compress.png") no-repeat right;
}

/* Graphics file extensions

.bmp, .eps, .gif, .ico, .iff, .png, .jpeg, .jpg, .svg, 

*/

#content #attachments a[href$='.bmp'], #content #attachments a[href$='.esp'], #content #attachments a[href$='.gif'], #content #attachments a[href$='.iff'], #content #attachments a[href$='.png'], #content #attachments a[href$='.jpeg'], #content #attachments a[href$='.jpg'], #content #attachments a[href$='.svg'] {
  padding-right: 25px;
  background: #ffffff url("images/images.png") no-repeat right;
}

/* #user-login-form */


#user-login-form label {
font-weight : normal;
font-style : italic;
}
#user-login-form input {
border : 1px solid #4D3536;
}
#user-login-form .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* Create new Account */

#user-register{
font-size : 1.2em;
}
#user-register .description {
font-size : 1em;
}
#user-register label {
font-weight : normal;
font-style : italic;
}
#user-register .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* #user-login */

#user-login{
font-size : 1.2em;
}
#user-login .description {
font-size : 1em;
}
#user-login label {
font-weight : normal;
font-style : italic;
}
#user-login .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* #user-pass */

#user-pass{
font-size : 1.2em;
}
#user-pass .description {
font-size : 1em;
}
#user-pass label {
font-weight : normal;
font-style : italic;
}
#user-pass .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}

/* Footer */

#footer-wrapper {
margin : 10px;
clear : both;
}
#footer-left {
width : 280px;
float : left;
margin : 0 20px 10px 0;
}
.no-footer-right #footer-left {
width : 460px;
float : left;
margin : 0 20px 10px 0;
}
#footer-middle {
width : 340px;
float : left;
margin : 0 20px 10px 0;
}
.no-footer-right #footer-middle {
width : 460px;
float : left;
margin : 0 0 10px 0;
}
#footer-right {
width : 280px;
float : left;
margin : 0 0 10px 0;
}
#secondary {
background : url("images/banner-one-bottom.jpg") no-repeat center center;
margin : 10px 0 10px 0;
clear : both;
font-size : 1.1em;
}
#secondary a {
background : #ffffff;
padding : 4px 3px 4px 3px;
border : 1px solid #4D3536;
}
#footer-message {
background : url("images/mission-background.gif") repeat-x center center;
border : 1px dashed #4D3536;
padding : 1px;
font-size : 1.1em;
text-align : center;
color : #4D3536;
clear : both;
}
#theme-design {
font-size : 1.1em;
background : url("images/header-background.png");
margin : 0 auto;
width : 960px;
text-align : right;
padding : 0 2px 10px 0;
}

/* Admin */
#switchtheme-switch-form {
font-size : 1.2em;
text-align : center;
}
#switchtheme-switch-form .description {
font-size : 1em;
}
#switchtheme-switch-form label {
font-weight : normal;
font-style : italic;
}
#switchtheme-switch-form .form-submit {
background : #ffffff;
color : #4D3536;
border : 1px solid #E47E4B;
}
#first-time  {
font-size : 1.2em;
line-height : 1.41666667em;
margin-left : 20px;
}
#admin-wrapper {
width : 960px;
margin : 10px auto;
background : #F6F1D3 ;
border : 1px solid #4D3536;
padding-top : 1px;
}
#admin-wrapper #content {
font-size : 1.2em;
line-height : 1.41666667em;
}
#admin-wrapper #container .help {
font-size : 1em;
}
#admin-wrapper #container .description {
font-size : 1em;
}
#admin-wrapper #container  .block {
font-size : 1em;
}